.customButton {
    background-color: #dee5eb;
    color: #5b90c5;
    border: 0 solid;
    border-radius: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

.customButton:hover{
    background-color: #d7e0f3;
    cursor: pointer;
}

.customButton:active{
    border-color: #b9c9ee;
}