.formControl input{
}

.formControl.error input,
.formControl.error textarea {
    border: 2px red solid;
}

.formControl.error span {
    color: red;
}

.formSummaryError{
    padding: 5px;
    color: red;
}

.customInput {
    width: 250px;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
}
