.nav {
    grid-area: nav;
    padding: 10px;
    margin-left: 70%;
    height: 100vh;
}

.nav div {
    margin-bottom: 3px;

}

.nav a {
    text-decoration: none;
    color: var(--text-color);

    /*margin-bottom: 30px;*/
}

.navLink {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
}

.navLink div {
    display: inline-block;
    padding-top:5px;
}

.navLink svg {
    margin-right: 10px;

}

.navLink a {

}

.navLink:hover {
    background-color: #e8e4ec;
}
