.postsBlock {
    /*padding: 10px;*/
    background-color: transparent;
    border-radius: 12px;
}

.addPostFormWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    border-radius: 12px;
    background-color: var(--bg-color-secondary);
    padding:0 10px;
    margin-bottom: 20px;
}

.addPostFormWrapper input {
    width: 80%;
    height: 90%;
    border: 0;
    padding-left: 20px;
    outline:none;
    background-color: var(--bg-color-secondary);
}



.postsWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.customInput {
    padding-left: 35px;
    box-sizing: border-box;
    line-height: 28px;
    width: 230px;
    height: 32px;
    border-radius: 8px;
    border: 0;
    background-color: var(--bg-color-secondary);
}

