.loginWrapper {
    display: flex;
    z-index: 100;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--text-color);
}

.loginForm {
    max-width: 300px;
}

.formControl{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.rememberMe{
    color:var(--text-color);
}
