.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: var(--bg-color-secondary);
    border-radius: 12px;
}

.dialog {
    padding: 10px;
    border-right: 2px dashed #edeef0;

}

.dialogItem{

    border-radius: 5px;
    text-align: center;
    padding: 5px 0;
}

.dialogItem a {
    text-decoration: none;
    color: black;
    display: grid;
    grid-template-columns: 4fr 8fr;
    align-items: center;
    text-align: center;
}

.dialogItem img {

    width:60px;
    height: 60px;
    overflow: hidden;
    border-radius: 100px;
    margin-left: 5%;
}

.dialogItem:hover {
    background-color: #e8e4ec;
}

.dialogItem p {
    font-size: 13.5px;
    font-weight: 500;
}



.messages {
 padding: 10px;
}

.message {
 padding: 10px;

}

.message:hover {

}

